#backButton {
	color: #000;
	background-color: #F3CDA1;
	display: flex;
    align-content: center;
	border: 1px solid black;
	padding: 10px 18px;
	border-radius: 10px;
	text-align: left;
	padding-right: 1em;
	width: 17em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
}

#backButton:hover {
	background-color: #E2B780;
}