.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  width: 100vw;
  box-sizing: border-box;
  padding-top: 10px;
}

.logos {
  display: flex;
  margin-right: 30px;
  width: 50%;
  justify-content: right;
  gap: 10px
}

.main-logo {
  display: flex;
  margin-left: 10px;
  width: 50%;
  justify-content: left;
}

.logos img {
  width: 48px;
  height: auto;
}

.main-logo img {
  display: flex;
  justify-content: left;
  width: 150px;
  height: auto;
}
