.ldrTable {
  width: 50%; /* Adjust the width to take up more space */
  margin: 20px auto; /* Center the table horizontally */
  font-size: 18px;
  text-align: center;
  border-collapse: collapse; /* Ensure borders are collapsed */
}

.ldrTable th,
.ldrTable td {
  border: 1px solid #000000;
  padding: 16px 20px; /* Increase padding for more spacing */
}

.ldrTable th {
  background-color: #f3cda1;
  color: #333;
}

.ldrTable tr:hover {
  background-color: #f1f1f1;
}

#back-button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  margin-bottom: 45px;
}