.ldrTable {
  width: 50%; /* Adjust the width to take up more space */
  margin: 20px auto; /* Center the table horizontally */
  font-size: 18px;
  text-align: center;
  border-collapse: collapse; /* Ensure borders are collapsed */
}

.ldrTable th,
.ldrTable td {
  border: 1px solid #ddd;
  padding: 16px 20px; /* Increase padding for more spacing */
}

.ldrTable th {
  background-color: q#f2f2f2;
  color: #333;
}

.ldrTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ldrTable tr:hover {
  background-color: #f1f1f1;
}
