.statDisplay {
    display: flex;
}

.stat {
    color: #EA8F27;
    padding-left: 20px;
    padding-right: 20px;
}

.stat-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leader

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}